{% extends "auctions/layout.html" %}
{% load static %}

{% block body %}
    <h2>{{category}}</h2>

    <div id="container">
        {% for lot in lots %}
        <div class="card">
            {% if lot.image %}
            <img class="card-img-top" src="{{ lot.image.url }}" alt="No image">
            {% else %}
            <img class="card-img-top" src="{% static 'images/no.jpg' %}" alt="No image">
            {% endif %}
            <div class="card-body">
                <h4 class="card-title"><a href="{% url 'listing' lot.id %}"> Listing: {{ lot.title }} {% if lot.seller == user %} (Yours) {% endif %}</a></h2>
                {% if user in lot.watching.all %}
                <div class="tag">Watchlist</div>
                <!-- Remove from Watchlist -->
                <form action="{% url 'watchlist' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" value="remove" name="remove">
                    <input type="hidden" value="{{lot.id}}" name="lot_id">
                    <input type="submit" value="Remove from Watchlist">
                </form>
                {% else %}
                <!-- Add to Watchlist -->
                <form action="{% url 'watchlist' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" value="add" name="add">
                    <input type="hidden" value="{{lot.id}}" name="lot_id">
                    <input type="submit" value="Add to Watchlist">
                </form>
                {% endif %}
                <div class="card-text">
                    <p>
                        {{ lot.description }}
                    </p>
                </div>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Price: ${{lot.price}}</li>
                {% if lot.category %}
                <li class="list-group-item">Category: <a href="{% url 'category' lot.category %}">{{lot.category}}</a></li>
                {% else %}
                <li class="list-group-item">No category</li>
                {% endif %}
            </ul>
            <div class="card-body">
                <a href="{% url 'listing' lot.id %}" class="card-link">View</a>
            </div>
            <div class="card-footer text-muted">
                {{lot.created}}
            </div>
        </div>
        {% empty %}
        <h4>No listings in {{category}}</h4>
        {% endfor %}
    </div>
{% endblock %}