{% extends "auctions/layout.html" %}
{% load static %}

{% block body %}
    <h2>Listing: {{ lot.title }}</h2>
    {% if lot.image %}
    <img src="{{ lot.image.url }}" alt="No image">
    {% else %}
    <img src="{% static 'images/no.jpg' %}" alt="No image">
    {% endif %}
    <div class="description">
        <p>
            {{ lot.description }}
        </p>
    </div>
    <p class="price">Price: {{lot.price}}</p>
    <form action="{% url 'listing' lot.id %}" method="post">
        {% csrf_token %}
        {{form_bid.as_div}}
        <input type="submit" value="Place Bid">
    </form>
    {% if lot.seller != user %}
    <div class="bids">
        <h3>Bids history</h3>
        {% for bid in bids %}
        <div class="user">{{ bid.buyer }}</div>
        <div class="price">{{bid.price}}</div>
        {% empty %}
        <h4>No Bids</h4>
        {% endfor %}
    </div>
    {% endif %}
    <div class="details">
        <h3>Details</h3>
        <ul>
            <li>Listed by {{ lot.seller.username }}</li>
            {% if category %}
            <li>Category: {{lot.category}}</li>
            {% else %}
            <li>No category</li>
            {% endif %}
            <li>Status: {{ lot.status }}</li>
        </ul>
    </div>
    <div class="comments">
        <h3>Comments</h3>
        {% for comment in comments %}
        <div class="user">{{ comment.author }} {% if comment.author.pk == lot.seller.pk %}(Seller) {% endif %}</div>
        <div class="price">{{ comment.comment }}</div>
        {% empty %}
        <h4>No Comments</h4>
        {% endfor %}
    </div>
    <form action="{% url 'listing' lot.id %}" method="post">
        {% csrf_token %}
        {{form_comment.as_div}}
        <input type="submit" value="Comment">
    </form>
  
{% endblock %}